# Ignore real skybox assets by default
*.hdr
*.exr
*.ktx2
*.jpg
*.jpeg
*.png
*.tga
*.bmp
*.dds
*.heif
*.heic

# Allow placeholder and documentation to be tracked
!placeholder-skybox.exr
!skybox-1.jpg
# Keep additional promoted skyboxes tracked by adding more exceptions like:
# !skybox-2.hdr or !skybox-aurora.ktx2
!README.md
